<footer id="contact" class="container-fluid mt-5 px-0">
  <!-- Contact Us -->
  <div class="row bg-primary g-0 py-2">
    <span class="text-center text-white fs-4">
    Contact us via email or our Instagram page</span>
  </div>

  <!-- Main Footer -->
  <div class="row bg-secondary g-0 pb-0">
    <!-- Map -->
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2486.9082455687344!2d5.4801854159078625!3d51.44147892334171!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c6d91d123af747%3A0x49a09384677b33eb!2sSoci%C3%ABteit%20Amnis%20der%20C.S.V.%20Ichthus%20Eindhoven!5e0!3m2!1sen!2snl!4v1661784310437!5m2!1sen!2snl"
      width="100%" height="450" loading="lazy" class="col-md" referrerpolicy="no-referrer-when-downgrade"
      title="Amnis building map"></iframe>

    <!-- Collumn 2 -->
    <div class="col-md text-white mt-5 ps-4">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-2 text-center">
            <a href="https://goo.gl/maps/RHV9r6x6AJkxPdjH9" target="_blank"
              aria-label="Google Maps Amnis building location">
              <i class="fs-2 bi bi-geo-alt-fill"></i>
            </a>
          </div>
          <div class="col">
            <a class="text-decoration-none" href="https://goo.gl/maps/RHV9r6x6AJkxPdjH9" target="_blank">
              <h4 class="text-white">Amnis Building</h4>
              Dommelstraat 6<br>
              5611 CK Eindhoven
            </a>
          </div>
        </div>
        <div class="mt-2 row align-items-center">
          <div class="col-2 text-center">
            <i class="text-primary fs-2 bi bi-envelope"></i>
          </div>
          <div class="col">
            <h4 class="text-white">E-mail</h4>
            <a class="text-decoration-none text-break" href="mailto:hosteindhoven@gmail.com">hosteindhoven@gmail.com</a>
          </div>
        </div>
        <div class="mt-2 row align-items-center">
          <div class="col-2 text-center">
            <i class="text-primary fs-2 bi bi-instagram"></i>
          </div>
          <div class="col">
            <h4 class="text-white">Instagram Page</h4>
            <a class="text-decoration-none" href="https://www.instagram.com/hosteindhoven/"
              target="_blank">@hosteindhoven</a>
          </div>
        </div>
        <div class="mt-2 row align-items-center">
          <div class="col-2 text-center">
            <i class="text-primary fs-2 bi bi-facebook"></i>
          </div>
          <div class="col">
            <h4 class="text-white">Facebook Page</h4>
            <a class="text-decoration-none text-break" href="https://www.facebook.com/HOSTEINDHOVEN/"
              target="_blank">facebook.com/HOSTEINDHOVEN</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr style="margin: 0; padding: 0; border-color: rgba(0, 38, 51, 0.80)">

  <!-- Bottom Footer -->
  <div class="row pt-3 bg-secondary g-0 text-muted px-5">
    <div class="col">
      <p>Copyright 2022, HOST Eindhoven</p>
    </div>
    <div class="col-1 text-end">
      <p>v3</p>
    </div>
  </div>
</footer>