<header role="banner" class="position-absolute">
  <nav class="mobile-nav-right sticky background-transparent-hightlight">
    <div class="m-10 l-2">
      <a href="index.html" class="logo">
        <img src="img/host-logo.png" alt="HOST Eindhoven logo">
      </a>
    </div>
    <div class="top-nav m-2 l-10">
      <p class="nav-text"></p>
      <ul class="right chevron">
        </li>
        <li><a href="index.html">Home</a></li>
        <li><a href="index.html#about_us">About Us</a>
          <ul>
            <li><a href="index.html#events">Current events</a></li>
          </ul>
        </li>
        <li><a href="get_involved.html">Get Involved</a>
          <ul>
            <li><a href="get_involved.html#events">Events</a></li>
            <li><a href="get_involved.html#family_project">Family Project</a></li>
          </ul>
        </li>
        <li><a href="eindhoven.html">Life in Eindhoven</a></li>
        <li><a href="#contact_us">Contact</a></li>
      </ul>
    </div>
  </nav>
</header>