<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Information about student and christian life in Eindhoven">
  <title>Life in Eindhoven</title>
</head>

<body>
  <!-- HEADER -->
  {{> components/header}}

  <div class="container-fluid text-bg-secondary">
    <div class="container pb-5" style="padding-top: 7em;">
      <h1 class="text-white">Life in Eindhoven</h1>
      <p>We have compiled a list of useful resources to help you find your way around Eindhoven.</p>
    </div>
  </div>

  <div class="container mt-5" id="eindhoven-info">
    <h2>International-Friendly Churches</h2>
    <hr class="ruler">

    <h3>Churches for Internationals</h3>

    <div class="row">
      <div class="col-md-6">
        <h6>International Baptist Church (IBC) Eindhoven</h6>
        <ul>
          <li>Language: English</li>
          <li>Services: Sunday 10:30</li>
          <li>Address: <a href="https://goo.gl/maps/NS6KsUaeMBU65F8n7" target="_blank">Geestakker 546,
              Eindhoven</a></li>
          <li>Website: <a href="http://www.ibc-eindhoven.nl/" target="_blank">ibc-eindhoven.nl</a></li>
        </ul>
      </div>
      <div class="col-md-6">
        <h6>Trinity Church Eindhoven</h6>
        <ul>
          <li>Language: English</li>
          <li>Services: Sunday 10:30</li>
          <li>Address: <a href="https://goo.gl/maps/MEUFaDouk3EthahCA" target="_blank">De Pracht 1, Waalre</a>
          </li>
          <li>Website: <a href="https://trinitychurcheindhoven.org/" target="_blank">trinitychurcheindhoven.org</a>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <h6>Cornerstone Baptist Fellowship Eindhoven</h6>
        <ul>
          <li>Language: English</li>
          <li>Services: Sunday 10:30</li>
          <li>Address: <a href="https://goo.gl/maps/mMUBbFCCy4ZrySgH7" target="_blank">Grand Combin 2,
              Eindhoven</a></li>
          <li>Website: <a href="https://cbfeindhoven.org/" target="_blank">cbfeindhoven.org</a></li>
        </ul>
      </div>
      <div class="col-md-6">
        <h6>St. Lambertuskerk</h6>
        <ul>
          <li>Language: English</li>
          <li>Services: Sunday 12:30</li>
          <li>Address: <a href="https://goo.gl/maps/zzqutU93VR5pMnhP7" target="_blank">Hoogstraat 299,
              Eindhoven</a></li>
          <li>Website: <a
              href="http://www.parochiesintjoris.nl/component/jem/event/5857-internationale-viering-engelstalig.html"
              target="_blank">goo.gl/yfMRhx</a></li>
        </ul>
      </div>
      <div class="col-md-6">
        <h6>Stichting Send the Light</h6>
        <ul>
          <li>Language: Mandarin</li>
          <li>Services: Sunday 09:30</li>
          <li>Address: <a href="https://goo.gl/maps/mieQn7RFdQy8TqZy7" target="_blank">Servaasplein 3,
              Eindhoven</a></li>
          <li>Website: <a href="http://chinesechurch.nl/Eindhoven.html"
              target="_blank">chinesechurch.nl/Eindhoven.html</a></li>
        </ul>
      </div>

    </div>

    <hr class="ruler">
    <h3>Churches with Translation</h3>

    <div class="row">
      <div class="col-md-6">
        <h6>De Bron Eindhoven</h6>
        <ul>
          <li>Language: English</li>
          <li>Services: Sunday 10:00</li>
          <li>Address: <a href="https://goo.gl/maps/gV4Tm1D82DSCCTyw7" target="_blank">Elburglaan 51,
              Eindhoven</a></li>
          <li>Website: <a href="http://debroneindhoven.nl/" target="_blank">debroneindhoven.nl/</a></li>
        </ul>
      </div>
      <div class="col-md-6">
        <h6>Emmaüs kerk, NGK Eindhoven</h6>
        <ul>
          <li>Language: English, French, Farsi</li>
          <li>Services: Sunday 10:00</li>
          <li>Address: <a href="https://goo.gl/maps/wG5Kjzi9RRHvFFLU8" target="_blank">Elburglaan 51,
              Eindhoven</a></li>
          <li>Website: <a href="https://www.emmauskerkeindhoven.nl/" target="_blank">emmauskerkeindhoven.nl</a>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <h6>Stadskerk 040</h6>
        <ul>
          <li>Language: English</li>
          <li>Services: every other Sunday 10:30</li>
          <li>Address:
            <a href="https://goo.gl/maps/i9cGDs8RPsUTc6F77" target="_blank">Noord Brabantlaan 1A, Eindhoven</a>
          </li>
          <li>Website: <a href="https://stadskerk040.nl" target="_blank">stadskerk040.nl</a>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <h6>De Lichstad</h6>
        <ul>
          <li>Language: English</li>
          <li>Services: Sunday 10:00</li>
          <li>Address:
            <a href="https://goo.gl/maps/diWKEiNS7AKszKpKA" target="_blank">Wegedoornlaan 2B, Eindhoven</a>
          </li>
          <li>Website:
            <a href="https://www.de-lichtstad.nl/" target="_blank">de-lichtstad.nl</a>
          </li>
        </ul>
      </div>
    </div>
    <div>
      <h2>Studying in Eindhoven</h2>
      <hr class="ruler">
      <h6>Some Useful Links</h6>

      <ul>
        <li>Student housing:
          <a href="https://www.tue.nl/en/education/become-a-tue-student/housing/" target="_blank">
            tue.nl/en/education/become-a-tue-student/housing
          </a>
        </li>
        <li>Student News:
          <a href="https://www.cursor.tue.nl/" target="_blank">cursor.tue.nl</a>
        </li>
        <li>Studying in the Netherlands:
          <a href="https://www.studyinholland.nl/" target="_blank">studyinholland.nl</a></a>
        </li>
        <li>Life in Eindhoven:
          <a href="https://www.local-life.com/eindhoven/" target="_blank">local-life.com/eindhoven</a>
        </li>
        <li>
          Tourism in the Netherlands: <a href="https://www.holland.com/" target="_blank">holland.com</a>
        </li>
      </ul>
    </div>
  </div>

  <!-- FOOTER -->
  {{> components/footer}}
</body>

</html>