<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Main page of HOST Eindhoven">
  <title>Host Eindhoven</title>
</head>

<body>
  <!-- HEADER -->
  {{> components/header}}

  <!-- This is for the text overlay that goes over the image carousel -->
  <div class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="4000" data-bs-touch="false"
    data-bs-pause="false">
    <div class="carousel-inner">
      <div class="carousel-item">
        <picture>
          <source src="img/header-host.avif" type="image/avif">
          <img src="img/header-host.webp" width="100%" alt="HOST evening gathering" class="d-block w-100"
            loading="lazy">
        </picture>
      </div>
      <div class="carousel-item active">
        <picture>
          <source src="img/header-host1.avif" type="image/avif">
          <img src="img/header-host1.webp" width="100%" alt="HOST evening gathering" class="d-block w-100">
        </picture>
      </div>
      <div class="carousel-item">
        <picture>
          <source src="img/header-host2.avif" type="image/avif">
          <img src="img/header-host2.png" width="100%" alt="HOST evening gathering with worship" class="d-block w-100"
            loading="lazy">
        </picture>
      </div>
      <div class="carousel-item">
        <picture>
          <source src="img/header-host3.avif" type="image/avif">
          <img src="img/header-host3.webp" width="100%" alt="HOST outing beach" class="d-block w-100" loading="lazy">
        </picture>
      </div>
      <div class="carousel-item">
        <picture>
          <source src="img/header-host4.avif" type="image/avif">
          <img src="img/header-host4.webp" width="100%" alt="HOST outing Zanse Schaans" class="d-block w-100"
            loading="lazy">
        </picture>
      </div>
      <div class="carousel-item">
        <picture>
          <source src="img/header-host5.avif" type="image/avif">
          <img src="img/header-host5.webp" width="100%" alt="HOST Christmass dinner" class="d-block w-100"
            loading="lazy">
        </picture>
      </div>
      <div class="carousel-item">
        <picture>
          <source src="img/header-host6.avif" type="image/avif">
          <img src="img/header-host6.webp" width="100%" alt="HOST Spring retreat" class="d-block w-100" loading="lazy">
        </picture>
      </div>
    </div>
    <div class="overlay d-flex justify-content-center">
      <div class="card text-bg-dark">
        <div class="card-body text-center">
          <h1 class="text-white">HOST Eindhoven</h1>
          <p>International Christian Student Community</p>
          <a class="btn btn-dark" href="#contact">Get in Touch</a>
        </div>
      </div>
    </div>
  </div>

  <main class="container">

    <!-- Section 1 -->
    <div class="mt-5 row text-center">
      <h2 style="padding-top: 80px; margin-top: -80px;" id="about">About Us</h2>
      <hr class="ruler mx-auto">
    </div>
    <div class="row">
      <div class="text-primary text-end fs-3 col-md-3">
        <p>
          We
          Are<br> HOST<br>
          Eindhoven</p>
      </div>
      <div class="col">
        <p>HOST is a community for international students that
          aims to help international students to feel at home in Eindhoven. At HOST you can expect hospitality, to
          build friendships, and to be encouraged to meet God. We organize various formal and informal events,
          focussed on helping Christian international students grow in their faith and share experiences. These
          events also include activities that are a lot of fun, and involve cultural exchange. However, you don’t
          have to be a Christian to come along; we welcome all students regardless of their cultural background or
          religion!</p><br />

        <p>HOST Eindhoven is part of IFES (International
          Fellowship of Evangelical Students), an organization supporting ministries to international students in
          cities all over the globe, among which 20 cities in the Netherlands. Furthermore, IFES Netherlands
          organizes a number of activities where you can meet many international students studying in different
          cities in the Netherlands.</p>
      </div>
    </div>

    <!-- Section 2 -->
    <div class="mt-5 row text-center">
      <h2>Get Involved</h2>
      <hr class="ruler mx-auto">
    </div>
    <div class="row">
      <div class="col-md">
        <picture>
          <source src="img/header-host.avif" type="image/avif">
          <img src="img/header-host.webp" class="w-100" alt="Weekly meetings">
        </picture>
        <h3 class="mt-2">Weekly Meetings</h3>
        <p>Our main meetings are on Friday evenings, when we meet for dinner and a Bible study! Every second week it
          is at Dommelstraat 6 in Eindhoven city center, and every other week we meet in small groups at various
          locations in Eindhoven.</p>
        <a href="get_involved.html#host_meetings" aria-label="Get involved in HOST Weekly meetings">Read more</a>
      </div>
      <div class="col-md">
        <picture>
          <source src="img/img-02.avif" type="image/avif">
          <img src="img/img-02.webp" class="w-100" alt="Family project header image">
        </picture>
        <h3 class="mt-2">Family Project</h3>
        <p>Would you like to have regular meetings with a Dutch family over a meal in their home? We match
          international students up with a host family either individually or in pairs so that you can learn more
          about Dutch culture in a family setting.</p>
        <a href="get_involved.html#family_project" aria-label="Get involved with the family project">Read more</a>
      </div>
      <div class="col-md">
        <picture>
          <source src="img/img-03.avif" type="image/avif">
          <img src="img/img-03.webp" class="w-100" alt="Spring retreat image">
        </picture>
        <h3 class="mt-2">Other Events</h3>
        <p>Sometimes, we organize other fun and cultural activities such as BBQs or dinners inspired by other
          nationalities and cultures.</p>
        <a href="get_involved.html#other_events" aria-label="Read more about other events">Read more</a>
      </div>
    </div>

    <!-- Section 3 -->
    <div class="mt-5 row text-center">
      <h2>Life in Eindhoven</h2>
      <hr class="ruler mx-auto">
    </div>
    <div>
      <div>
        <p>As a Christian international student, finding relevant
          information about the city you live in can be daunting. Fortunately, we've put together a list of useful
          resources including international-friendly churches and links for finding accommodation in Eindhoven.</p>
        <a href="eindhoven.html">Read more</a>
      </div>
    </div>

    <!-- Section 4 -->
    <div class="mt-5 row text-center">
      <h2 id="events">Current events</h2>
      <hr class="ruler mx-auto">
    </div>
    <div>
      <div>
        <iframe
          src="https://calendar.google.com/calendar/embed?height=400&wkst=2&bgcolor=%23ffffff&ctz=Europe%2FMadrid&mode=MONTH&showNav=1&showTitle=0&showDate=1&showPrint=0&showTabs=1&showCalendars=0&src=b2s4aGxvbjBkcmo4amRqMG83ZWZnamx1M2NAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%238E24AA"
          style="border-width:0" width="100%" height="400" frameborder="0" scrolling="no"
          title="HOST Calendar"></iframe>
      </div>
    </div>
  </main>


  <!-- FOOTER -->
  {{> components/footer}}
</body>

</html>