<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Host Eindhoven</title>
</head>

<body class="size-1140">
  <!-- HEADER -->
  {{> components/header}}

  <main role="main">
    <header>
      <!-- This is for the text overlay that goes over the image carousel -->
      <div class="carousel-fade-transition owl-carousel carousel-main carousel-nav-white carousel-hide-arrows">
        <div class="item">
          <img src="img/header-host.avif" alt="" loading="lazy">
        </div>
        <div class="item">
          <img src="img/header-host1.avif" alt="" loading="lazy">
        </div>
        <div class="item">
          <img src="img/header-host2.avif" alt="" loading="lazy">
        </div>
        <div class="item">
          <img src="img/header-host3.avif" alt="" loading="lazy">
        </div>
        <div class="item">
          <img src="img/header-host4.avif" alt="" loading="lazy">
        </div>
        <div class="item">
          <img src="img/header-host5.avif" alt="" loading="lazy">
        </div>
        <div class="item">
          <img src="img/header-host6.avif" alt="" loading="lazy">
        </div>
      </div>

      <div class="fixed_overlay">
        <div class="grid">
          <div class="m-3 l-3"></div>
          <div class="s-12 m-6 l-6">
            <h1 class="text-white text-size-60 text-m-size-30 text-line-height-1 dark-background text-center">
              HOST
              Eindhoven</h1>
          </div>
          <div class="m-3 l-3"></div>

          <div class="m-2 l-4"></div>
          <div class="s-12 m-8 l-4">
            <p class="text-white text-size-14 margin-bottom-10 dark-background text-center">International Christian
              Student
              Community</p>
          </div>
          <div class="m-2 l-4"></div>

          <div class="s-6 m-4 l-2 center">
            <a class="button button-white-stroke" href="mailto:hosteindhoven@gmail.com">Get in Touch</a>
          </div>
        </div>
      </div>
    </header>

    <!-- Section 1 -->
    <section class="section" id="about_us">
      <div class="grid">
        <div class="s-12 m-12 l-12">
          <h2 class="text-size-50 text-m-size-30 text-center">About Us</h2>
          <hr class="break-small background-primary break-center">
        </div>
      </div>
      <div class="grid">
        <div class="s-12 m-12 l-3">
          <p
            class="h1 text-size-30 margin-m-bottom-30 text-primary text-line-height-1 text-right margin-right margin-m-right-0">
            We
            Are<br> HOST<br>
            Eindhoven</p>
        </div>
        <div class="s-12 m-12 l-9">
          <p class="text-size-14 margin-m-bottom-30 text-dark">HOST is a community for international students that
            aims to help international students to feel at home in Eindhoven. At HOST you can expect hospitality, to
            build friendships, and to be encouraged to meet God. We organize various formal and informal events,
            focussed on helping Christian international students grow in their faith and share experiences. These
            events also include activities that are a lot of fun, and involve cultural exchange. However, you don’t
            have to be a Christian to come along; we welcome all students regardless of their cultural background or
            religion!</p><br />

          <p class="text-size-14 margin-m-bottom-30 text-dark">HOST Eindhoven is part of IFES (International
            Fellowship of Evangelical Students), an organization supporting ministries to international students in
            cities all over the globe, among which 20 cities in the Netherlands. Furthermore, IFES Netherlands
            organizes a number of activities where you can meet many international students studying in different
            cities in the Netherlands.</p>
        </div>
      </div>
    </section>

    <!-- Section 2 -->
    <section class="section">
      <div class="grid">
        <div class="s-12 m-12 l-12">
          <h2 class="text-size-50 text-m-size-30 text-center">Get Involved</h2>
          <hr class="break-small background-primary break-center">
        </div>
      </div>
      <div class="grid">
        <div class="s-12 m-12 l-4 margin-m-bottom margin-right margin-m-right-0">
          <img class="margin-bottom" src="img/header-host.avif" style="width: 100%;" alt="">
          <h2 class="text-thin">Weekly Meetings</h2>
          <p>Our main meetings are on Friday evenings, when we meet for dinner and a Bible study! Every second week it
            is at Dommelstraat 6 in Eindhoven city center, and every other week we meet in small groups at various
            locations in Eindhoven.</p>
          <a class="text-more-info text-primary-hover" href="get_involved.html#host_meetings">Read more</a>
        </div>
        <div class="s-12 m-12 l-4 margin-m-bottom margin-right margin-m-right-0">
          <img class="margin-bottom" src="img/img-02.avif" style="width: 100%;" alt="">
          <h2 class="text-thin">Family Project</h2>
          <p>Would you like to have regular meetings with a Dutch family over a meal in their home? We match
            international students up with a host family either individually or in pairs so that you can learn more
            about Dutch culture in a family setting.</p>
          <a class="text-more-info text-primary-hover" href="get_involved.html#family_project">Read more</a>
        </div>
        <div class="s-12 m-12 l-4 margin-m-bottom">
          <img class="margin-bottom" src="img/img-03.avif" style="width: 100%;" alt="">
          <h2 class="text-thin">Other Events</h2>
          <p>Sometimes, we organize other fun and cultural activities such as BBQs or dinners inspired by other
            nationalities and cultures.</p>
          <a class="text-more-info text-primary-hover" href="get_involved.html#other_events">Read more</a>
        </div>
      </div>
    </section>

    <!-- Section 3 -->
    <section class="section">
      <div class="line">
        <h2 class="text-size-50 text-m-size-30 text-center">Life in Eindhoven</h2>
        <hr class="break-small background-primary break-center">
      </div>
      <div class="grid">
        <div class="s-12 m-12 l-12">
          <p class="text-size-14 margin-m-bottom-30 text-dark">As a Christian international student, finding relevant
            information about the city you live in can be daunting. Fortunately, we've put together a list of useful
            resources including international-friendly churches and links for finding accommodation in Eindhoven.</p>
          <a class="text-more-info text-primary-hover" href="eindhoven.html">Read more</a>
        </div>
      </div>
    </section>

    <!-- Section 4 -->
    <section class="section" id="events">
      <div class="line">
        <h2 class="text-size-50 text-m-size-30 text-center">Current events</h2>
        <hr class="break-small background-primary break-center">
      </div>
      <div class="grid">
        <div class="s-12 m-12 l-10 center">
          <iframe
            src="https://calendar.google.com/calendar/embed?height=400&wkst=2&bgcolor=%23ffffff&ctz=Europe%2FMadrid&mode=MONTH&showNav=1&showTitle=0&showDate=1&showPrint=0&showTabs=1&showCalendars=0&src=b2s4aGxvbjBkcmo4amRqMG83ZWZnamx1M2NAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%238E24AA"
            style="border-width:0" width="100%" height="400" frameborder="0" scrolling="no"></iframe>
        </div>
      </div>
    </section>

  </main>

  <!-- FOOTER -->
  {{> components/footer}}
</body>

</html>